/* CSS Document */
*,
/* ::after Voeg iets in na de inhoud van elk <p> -element*/
*::after,
/*::before Voeg iets in vóór de inhoud van elk <p> -element*/
*::before {
    /* box sizing border-box definieert hoe de breedte en hoogte van een element worden berekend worden: moeten ze opvulling en randen bevatten of niet*/
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #e3e3e3;
}

.navbar {
    display: flex;
    overflow: auto;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 80%;
    z-index: 1000;
}

.logo img {
    height: 2.5em;
    width: 10em;
    padding-left: 1em;
    padding-top: 0.4em;
}

.navbar a {
    display: block;
    padding-left: 3em;
    padding-top: 0.8em;
}

.navbar a img {
    width: 1em;
}

.headerfoto {
    display: flex;
    flex-direction: column;
}

.headerfoto img {
    object-fit: cover;
    max-width: 100%;
    max-height: auto;
    top: 0;
}


.headerfoto a {
    /* relative is gepositioneerd relatief van zijn normale positie*/
    position: relative;
    bottom: 15.62em;
    color: #ffffff;
    font-size: 0.93em;
    font-weight: 600;
    letter-spacing: 0.08em;
    background-color: #5f2f9e;
    padding: 1.5em;
    margin-left: 4em;
    margin-right: 4em;
    text-align: center;
    text-decoration: none;
}

.disturbing {
    display: flex;
    flex-direction: column;
}

.disturbing h2 {
    color: #5f2f9e;
    font-size: 5.1em;
    font-family: 'Teko', sans-serif;
    margin-bottom: -6.5em;
    margin-top: -6.6em;
    margin-left: 0.3em;

}

.disturbing img {
    /*maximale breedte van een element*/
    max-width: 100%;
    /*height: het element zal automatisch de hoogte aanpassen om de inhoud
    correct weer te geven*/
    height: auto;
    margin-top: 7em;
}


.transform {
    display: flex;
    flex-direction: column;
}

.transform h3 {
    color: #000000;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    margin-top: 43em;
    text-align: center;
}

.everyday h3 {
    color: #000000;
    font-size: 0.9em;
    letter-spacing: 0.3em;
    margin-top: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: center;
    font-weight: bolder;
}

.readbutton {
    display: flex;
    flex-direction: column;
}

.readbutton a {
    color: #ffffff;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 0.1em;
    background-color: #5f2f9e;
    padding: 1.5em;
    margin-top: 3.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 5em;
    text-align: center;
    text-decoration: none;
}

.keukenfoto {
    /* zet inhoud onder elkaar*/
    display: flex;
    flex-direction: column;
}

.keukenfoto img {
    max-width: 100%;
    height: auto;
}

.keukenfoto h3 {
    color: #000000;
    font-family: 'Teko', sans-serif;
    font-size: 3.2em;
    text-align: center;
    font-weight: 400;
}

.opsomming {
    position: relative;
}

.opsomming h3 {
    color: #000000;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    text-align: center;
    font-weight: bolder;
}

.annika {
    display: flex;
    flex-direction: column;
}

.annika p {
    color: #000000;
    font-size: 0.7em;
    letter-spacing: 0.125em;
    margin-top: 1.5em;
    text-align: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-weight: 300;
}

.voguebutton {
    display: flex;
    flex-direction: column;
}

.voguebutton a {
    color: #ffffff;
    font-size: 0.93em;
    font-weight: 900;
    letter-spacing: 0.09em;
    background-color: #5f2f9e;
    padding: 1.25em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: center;
    text-decoration: none;
}

.justdropped {
    display: flex;
    flex-direction: column;
}

.justdropped h3 {
    color: #000000;
    font-size: 0.75em;
    letter-spacing: 0.12em;
    margin-top: 6em;
    text-align: center;
}

.new {
    display: flex;
    flex-direction: column;
}

.new h3 {
    color: #000000;
    font-family: 'Teko', sans-serif;
    font-size: 2.81em;
    text-align: center;
    font-weight: 400;
    margin-top: 0.31em;
}

ul {
    margin: 0.7em;
    padding: 0;
    /*overflow-x en y specificeert of de inhoud wordt geknipt, scrollbalk wordt toegevoegd etc.*/
    overflow-x: scroll;
    overflow-y: hidden;
    /* whitespace specificeert hoe tekst wordt behandeld op het element waar het op wordt toegepast. Nowrap voorkomt dat de tekst wordt 'gewrapt'*/
    white-space: nowrap;
    /* list-style none is geen bulletpoints of numbers*/
    list-style: none;
}

ul li {
    /* display inline-block staat toe dat je een hoogte en breedte kan geven aan het element. Het element kan ook naast andere elementen staan, het verschil met display block*/
    display: inline-block;
    width: 13.12em;
    background-color: #e3e3e3;
}

ul li img {
    max-width: 97%;
}

ul li h3 {
    color: #000000;
    font-size: 0.75em;
    letter-spacing: 0.07em;
    margin-top: 1.25em;
    text-align: center;
    font-weight: 800;
}

ul li p {
    color: #000000;
    font-size: 0.87em;
    letter-spacing: 0.06em;
    margin-top: 0.93em;
    text-align: center;
    font-weight: 300;
}

.hashtag {
    display: flex;
    flex-direction: column;
}

.hashtag h3 {
    color: #ae36d6;
    font-size: 0.93em;
    font-weight: 900;
    letter-spacing: 0.18em;
    margin-top: 3.75em;
    margin-bottom: 0.31em;
    text-align: center;
    text-decoration: underline;
}

.follow {
    display: flex;
    flex-direction: column;
}

.follow h3 {
    color: #000000;
    font-family: 'Teko', sans-serif;
    font-size: 2.81em;
    text-align: center;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.6em;
}

.insta-fotos ul {
    display: flex;
    flex-wrap: wrap;
}

.insta-fotos ul li {
    flex: 0 50%;
}

.loadmore {
    display: flex;
    flex-direction: column;
}

.loadmore a {
    color: #000000;
    text-decoration: underline;
    top: 7em;
}

.newsletter img {
    max-width: 100%;
    height: auto;
    margin-top: 6.25em;
}

.newsletter h2 {
    color: #ffffff;
    font-family: 'Teko', sans-serif;
    font-size: 3.31em;
    text-align: center;
    font-weight: 400;
    margin-top: -6em;
    line-height: 0.8em;
}

.newsletter h4 {
    color: #ffffff;
    font-size: 1.06em;
    letter-spacing: 0.1em;
    margin-top: 2.18em;
    text-align: center;
    font-weight: 400;
}

.newsletter p {
    color: #ffffff;
    font-size: 0.8em;
    letter-spacing: 0.07em;
    margin-top: 0.1em;
    text-align: center;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 2.4em;
    padding-right: 2.4em;
}

input[type="email"] {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: none;
    /* border radius specificeert de radius van de hoeken van het element*/
    border-radius: 0;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8em;
    font-weight: 100;
    color: #ffffff;
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: .075em;
    /*appearance wordt gebruikt om een element weer te geven door middel van een platformeigen stijl op basis van het besturingssysteem van de gebruiker*/
    appearance: none;
    /* outline is een lijn die rond element wordt gezet buiten de borders om, om het element op te laten vallen*/
    outline: none;
    transition: 0.3s;
}

/* selecteert elk input element dat begint met input*/
input[type="email"]:focus {
    border-bottom: 1px solid #fff;
}


/*# is een #id, selecteert het element met id="iets"*/
#email-label {
    /*translate () positioneert een element in horizontale of verticale directions. Y'as X'as*/
    transform: translateY(5px);
    transition: 0.3s;
    color: #a8a8a8;
    font-size: 0.8em;
    padding-left: 0.1em;
    padding-top: 2em;
    padding-bottom: 0.8em;
}

#email-label.focus {
    transform: translateY(-10px);
}

.logozwart {
    display: flex;
    flex-direction: column;
}

.logozwart img {
    max-width: 100%;
    margin-top: 2.5em;
}

.footer {
    background-color: #000000;
    margin-top: -0.5em;
}

.footer a {
    color: #ffffff;
    letter-spacing: 0.15em;
    margin-left: 1em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    text-decoration: none;
}

.footer hr {
    margin-left: 1em;
    margin-right: 1em;
    border-top: 0.08em;
}

.footer p {
    color: #ffffff;
    margin-left: 1em;
    font-size: 0.8em;
    font-weight: 100;
    padding-top: 3em;
}

.fa {
    width: 3.5em;
    margin-left: 0.5em;
    padding-left: 2.1em;
    margin-top: 4em;
    text-decoration: none;
    text-align: center;
}

/* :hover selecteert een link als je erover heen gaat*/
.fa:hover {
    color: purple;
}


.fa-facebook {
    background: #000000;
    color: #ffffff;
}

.fa-pinterest {
    background: #000000;
    color: #ffffff;
}

.fa-instagram {
    background: #000000;
    color: #ffffff;
}

.fa-twitter {
    background: #000000;
    color: #ffffff;
}

.fa-youtube {
    background: #000000;
    color: #ffffff;
}

.footer h6 {
    text-align: center;
    font-weight: 100;
    letter-spacing: 0.2em;
    margin-top: 6em;
    bottom: 0;
    color: #ffffff;
}
